[bumpversion]
current_version = 0.1.9
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
commit = True
tag = True
tag_format = v{new_version}

[bumpversion:file:mix.exs]
search = @version "{current_version}"
replace = @version "{new_version}"

[bumpversion:file:README.md]
search = {{:veidrodelis, "~> {current_version}"}}
replace = {{:veidrodelis, "~> {new_version}"}}

[bumpversion:file:native/vdr_ts_nif/Cargo.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:native/vdr_redis_nif/Cargo.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
